<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<title>Gestion des produits</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" 
	integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" 
	crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}">
</head>
<body>
<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container-fluid">
			<ul class ="navbar-nav mr-auto">
				<li class="nav-item active">
					<a th:href="@{index}" class="nav-item nav-link active">Chercher</a>
				</li>
				<li class="nav-item">
					<a th:href="@{form}" class="nav-item nav-link active">Produits</a>
				</li>
			</ul>
		</div>
	</nav>
	</header>
	<section layout:fragment="content">
	
	</section>
	<footer class="navbar-fixed-bottom">
		<hr/>
		<div class="container">
			<small>
				Copyright @2022
			</small>
		</div>
	</footer>
</body>
</html>